*{ margin: 1%;
padding: auto;}
body{ background-color: burlywood;}

h1{ text-align: center; color: rgb(3, 14, 37);
    font-size: 5em;
    position:absolute
    
left:50%
top:50%}
p{ text-align: justify; color: black;font-size: medium; ;}
     h2{ color: black;}
     h3{     text-align: center;
        font-size:x-large;}
        h4{ font-size: xx-large ;}
        h5{font-size: xx-large;}
        h6{font-size:xx-large ;}